header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  margin: 0px;
  height: 2cm;
}

body {
  margin: 0px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row;
  column-gap: 5%;
}
