header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  margin: 0px;
  height: 2cm;
}

body {
  margin: 0px;
}

button {
  display: flex;
  text-align: center;
}
