header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  margin: 0px;
  height: 2cm;
}
body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
  margin: 20px;
}

div {
  display: flex;
  color: white;
  justify-content: center;
  align-content: center;
  margin: auto;
  width: 50%;
  font-size: 200%;
}
